[submodule "third_party/ruff"]
	path = third_party/ruff
	url = https://github.com/sifr-lang/ruff.git
	branch = sifr/v0.4.10-maintenance
[submodule "editor_integrations"]
	path = editor_integrations
	url = https://github.com/sifr-lang/editor-integrations.git
	branch = main
[submodule "audits/leetcode"]
	path = audits/leetcode
	url = https://github.com/sifr-lang/leetcode.git
	branch = main
